<!-- Toolbar -->
<mat-toolbar color="primary" class="header">
   <button mat-button style='font-size:175%;' routerLink="/player-rankings">Gamers Lobby</button>
</mat-toolbar>



<!-- <nav style="margin-left:10em">
    <a id="toggle-pos" routerLink="/player-rankings">Player Rankings</a>
    <a routerLink="/games-list">Admin</a>
</nav> -->


<mat-sidenav-container>

  <!-- Sidenav -->
  <mat-sidenav #sidenav [mode]="isBiggerScreen() ? 'over' : 'side'" [(opened)]="opened" [fixedInViewport]="true"
    [fixedTopGap]>
    <mat-nav-list>
        <div class="logo-nav">
            <img src="./assets/download.png">
        </div>
     
      </mat-nav-list>
  </mat-sidenav>

 <!-- Main content -->
  <mat-sidenav-content>
      <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container> 
